<h1><%= t(".title") %></h1>
<%= simple_form_for :session, url: login_path do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.button :submit, t(".submit") %>
<% end %>
<p>
  Haven't got an account? Click <%= link_to "here", new_user_path %> to sign up
</p>
