<h1><%= t(".title") %></h1>
<%= simple_form_for :session, url: login_path do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.button :submit, t(".submit") %>
<% end %>
<p>
  <%= t(".sign_up_message_html", href: link_to("here", new_user_path)) %>
</p>
