<h1><%= t(".welcome", user: @user) %></h1>

<h3><%= t(".account_details") %></h3>
<p><%= t(".account_name") %>: <%= @user %></p>
<p><%= t(".account_username") %>: <%= @user.username %></p>
<p><%= t(".account_email") %>: <%= @user.email %></p>

<button>
  <%= link_to(t("users.links.update"), edit_user_path) %>
</button>
